{% extends "base.html" %}
{% load static %}
{% block explain_contents %}
<div align="center">
    <a href="{% url 'board:board_board_info_create' %}">---생성---</a>
</div>
<br/>
<table border="1" align="center">
    <tr>
        <td align="center">주제</td>
        <td align="center">내용</td>
        <td align="center">닉네임</td>
        <td align="center">날짜</td>
        <td align="center">업데이트</td>
        <td align="center">삭제</td>
    </tr>
    {% for board_info in board_infos %}
        <tr> {% include "board/board_info.html" %} </tr>
    {% empty %}
        <tr>
            <td colspan="5"> 아무것도 없습니다. </td>
        </tr>
    {% endfor %}
</table>
{% endblock explain_contents %}