{% extends "base.html" %}
{% load static %}
{% block explain_contents %}
<div align="center">
  {% if create %}생성{% else %}수정{% endif %} 게시글
  <h2>
    {% if create %} 게시글 작성
    {% else %} 게시글 수정
    {% endif %}
  </h2>
  {% if create %}
    {% url "board:board_board_info_create" as action_url %}
  {% else %}
    {% url "board:board_board_info_update" pk=form.instance.pk as action_url %}
  {% endif %}
  <div style = "width:30%">
    <form action="{{ action_url }}" method="post" accept-charset="utf-8">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" class="btn btn-default" value="Save"></p>
    </form>
  </div>
</div>
{% endblock explain_contents %}