{% extends "base.html" %}
{% load static %}
{% block explain_contents %}
<div align="center">
  <h5> 성적 테이블 </h5>
  <div class="container">
    <div class="table-responsive-sm">
      <table class="table table-striped">
        <thead>
        <tr width="40%">
          <th>이름</th> <th>국어</th> <th>영어</th> <th>수학</th> <th>총점</th> <th>평균</th>
        </tr>
        </thead>
        <tbody>
        <tr width="40%">
          <td>{{ sungjuk.name }} </td> <td>{{ sungjuk.kor }}</td> <td>{{ sungjuk.mat }}</td>
          <td>{{ sungjuk.eng }}</td> <td>{{ sungjuk.tot }}</td> <td>{{ sungjuk.avg }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
